MySol2/WebApp1/Service References/ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://mysevice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://mysevice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://mysevice">
      <s:element name="MyHello">
        <s:complexType />
      </s:element>
      <s:element name="MyHelloResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MyHelloResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="MyHelloSoapIn">
    <wsdl:part name="parameters" element="tns:MyHello" />
  </wsdl:message>
  <wsdl:message name="MyHelloSoapOut">
    <wsdl:part name="parameters" element="tns:MyHelloResponse" />
  </wsdl:message>
  <wsdl:portType name="UserviceSoap">
    <wsdl:operation name="MyHello">
      <wsdl:input message="tns:MyHelloSoapIn" />
      <wsdl:output message="tns:MyHelloSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserviceSoap" type="tns:UserviceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MyHello">
      <soap:operation soapAction="http://mysevice/MyHello" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UserviceSoap12" type="tns:UserviceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MyHello">
      <soap12:operation soapAction="http://mysevice/MyHello" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Uservice">
    <wsdl:port name="UserviceSoap" binding="tns:UserviceSoap">
      <soap:address location="http://localhost:38501/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="UserviceSoap12" binding="tns:UserviceSoap12">
      <soap12:address location="http://localhost:38501/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>